/* Header styles */
header {
    position: fixed; /* Fixes the header at the top of the viewport */
    top: 0; /* Aligns the header at the very top of the page */
    left: 0; /* Aligns the header to the left side of the page */
    width: 100%; /* Ensures the header stretches across the full viewport width */
    background-color: #3c6e71; /* Deep Jungle Green */
    color: #ffffff;
    padding: 20px 40px;
    text-align: center;
    z-index: 1000; /* Ensures the header is always on top of other content */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Adds shadow for better separation from page content */
}

/* Navigation styles */
nav {
    position: fixed; /* Fixes the navigation bar at the top of the viewport */
    top: 68px; /* Adjust this value based on the actual height of your header */
    left: 0; /* Aligns the navigation to the left side of the page */
    width: 100%; /* Ensures the navigation stretches across the full viewport width */
    background: #284b63; /* Prussian Blue */
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    z-index: 1000; /* Ensures the navigation bar is always on top of other content */
}

/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    color: #353535; /* Davys Grey for text */
    background-color: #ffffff; /* White for background */
    margin: 0;
    padding: 0;
    padding-top: 140px; /* Adds padding to the top of the body to prevent content from hiding behind the fixed header and nav */
}

/* Other styles remain unchanged */


header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

/* Navigation styles */
nav {
    background: #284b63; /* Prussian Blue */
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #d9d9d9; /* Gainsboro */
    text-decoration: underline;
}

/* Section styles */
section {
    margin: 20px 40px;
    background: #ffffff; /* White for section backgrounds */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

section h2 {
    color: #3c6e71; /* Deep Jungle Green */
}

/* Footer styles */
footer {
    background-color: #284b63; /* Prussian Blue */
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #d9d9d9; /* Gainsboro */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .services-flex-container {
        flex-direction: column; /* Stacks flex items vertically */
    }

    .service-image, .service-content {
        max-width: 100%; /* Allows each section to take full width of the container */
    }
}
