/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #22324c;
    font-size: 2em;
    color: #cfcbc8;
    padding: 20px 0;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Navigation styles */
nav {
    position: fixed;
    top: 200px;
    left: 0;
    width: 100%;
    background: #99c9cb;
    color: #292929;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #22324c;
    text-decoration: underline;
}

/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    color: #292929;
    background-color: #cfcbc8; 
    margin: 0;
    padding: 0;
    padding-top: 140px; /* Adds padding to the top of the body to prevent content from hiding behind the fixed header and nav */
}

/* Section styles */
section {
    margin: 20px 40px;
    background: #99c9cb;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

section h2 {
    color: #22324c;
}

.service-container {
    position: relative;
    width: 100%;
    display: block;
}

.service-image {
    width: 100%;
    height: auto;
    display: block;
}

.service-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: calc(100% - 40px);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-sizing: border-box;
}

/* Footer styles */
footer {
    background-color: #22324c;
    color: #cfcbc8;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin-top: auto;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #99c9cb;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    header, nav {
        position: static;
        top: auto;
        font-size: 1em;
    }

    nav {
        padding: 10px 0;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
        text-align: center; /* Align text to the center in mobile view */
    }
}
